:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
}

body {
    color: #000;
    text-align: center; 
    width:1440px;
    align-items: center;
    justify-content: center;
    padding:0;
    margin: 0 auto;
}

header, footer {
    background-color: var(--blue-grey-50);
    color: #fff;
    padding: 2rem 4rem;   
}

.flex-container{
    display: flex;
}


h1{
    font-family: "Libre Baskerville";
    font-size: 3.6rem;;
}

header{
    background-color: white;
    width:90rem;
    padding:0;
}

.header{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header img{
    height:3.6rem;
    width:5.6rem;
    margin-right: 31.75rem;
}

.header{
    background-color: #111111;
    padding:2.6rem;
}

header ul{
    display: flex;
    gap:2.5rem;
    list-style-type: none;

}

header a{
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header a:hover{
    text-decoration: underline;
}

h2{
    font-family: "Noto Serif";
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

.hero{
    margin: 0 13rem;
    padding-top: 3rem;
    margin-bottom: 4rem;
}

.hero p{
    padding-bottom:3.3rem;

}

.button{
    background-color: #111111;
    color: white;
    text-decoration: none;
    padding:1rem;
    border-radius:.5rem;
}

.button:hover{
    background-color: white;
    color:#111111;
    transition: 0.3s;
}

.center-img{
    width:95%;
}
.mid{
    text-align: left;
}
.body{
    font-size: 2rem;
    text-align: left;

}

.top{
    font-size: 4rem;
    margin-top:3rem;
}

.passion{
    margin: 0 13rem;
}

.mid{
 margin-left:13rem;
 margin-right:13rem;
 gap:1.5rem;
 padding: 1.5rem 0;
}

.mid section{
    width:20.3rem;
}

.mid h3{
    padding-bottom:0.5rem;
    padding-top:0;
    margin:0;
}

.asterix .body{
    margin:0;
    padding:0;
}

.bg{
    background-color: var(--blue-grey-100);
    padding-bottom: 3rem;
}